In [ ]:
## find dgreatest of 3 numbers 1
def find_greatest(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c
x=int(input("enter first number"))
y=int(input("enter second number"))
z=int(input("enter third number"))
print(find_greatest(x,y,z))
print('the greatest numbe is',find_greatest(x,y,z))

enter first number4
enter second number3
enter third number8
8
the greatest numbe is 8

In [ ]:
## to calculate time 2
import time

In [ ]:
## question 4
## of syntax  lambda is
product = lambda a,b:a*b
a=int(input("enter a number"))
b=int(input("enter a number"))
print(product(a,b))

enter a number5
enter a number6
30

In [ ]:
## question 3
## return absolute value (if num is nagetive then mul by -1)
def absolute_value(n):
  if n>=0:
   return n
  else:
   return -n
num=int(input("enter value"))
print("absolute value is",absolute_value(num))

enter value-7
absolute value is 7

In [ ]:
## question 5
## prog that passes lambda function as an argument to another function to cal cube of a num
def apply_function(func, num):
  return func(num)

cube = lambda x: x**3

number = int(input("Enter a number: "))
result = apply_function(cube, number)
print("The cube of", number, "is", result)

Enter a number: 5
The cube of 5 is 125

In [ ]:
## question 6 check prime
def is_prime(n):
 if n<=1:
    return 0
 for i in range(2,int(n**0.5)+1):
  if n%i==0:
    return 0
 return 1

num=int(input("enter a number"))
if is_prime(num):
  print(num,"is a prime number")
else:
  print(num,"is not a prime number")

enter a number2
2 is a prime number

In [ ]:
## question 7
## program to accept an integer and display its month in that year
def is_name(month):
  months=["jan","feb","march","april","may","june","july","august","sept","oct","nov","dec"]
  if 1 <= month <= 12:
    return months[month-1]
  else:
    return "invalid month"

month = int(input("Enter a month number (1-12): "))
month_name = is_name(month)
print(month_name)

Enter a month number (1-12): 7
july

In [ ]:
## question 8
## check leap year using functions
def is_leap(n):
  if n%4==0:
    return True
  else:
    return False
year=int(input("enter a year"))
if is_leap(year):
  print(year,"is a leap year")
else:
  print(year,"is not a leap year")

enter a year5635
5635 is not a leap year

In [ ]:
## question 9
## concatinate 2 string using recursion

In [ ]:
## question 10
## reverse a numbe rusi ng recursion
def reverse_num(n):
  if n<10:
    return n
  else:
    return int(str(n%10)+str(reverse_num(n//10)))
num=int(input("enter integer"))
print("reverse of",num,"is",reverse_num(num))

enter integer1234
reverse of 1234 is 4321

In [ ]:
## question 11
## swap two variables that are defined as global variables
a=10
b=20
def swap():
  global a,b
  a,b = b,a
print("before swaping")
print(a)
print(b)
swap()
print("after swaping")
print(a)
print(b)

before swaping
10
20
after swaping
20
10

In [ ]:
## question 12
##

In [ ]:
## question 13
##

In [ ]:
## question 14
## compute lambda of n reccursively
def lamda(n):
  if n<1:
    return 1
  return lamda(n/2)+1

n=int(input("enter n"))
print(lamda(n))

enter n6
4

In [ ]:
## question 15
## f(m,n) reccursively

In [ ]:
## question 16
## menu driven calculator
def add(x,y):
  return x+y
def substract(x,y):
  return x-y
def multiply(x,y):
  return x*y
def divide(x,y):
  return x/y

print("select operation")
print("1.add")
print("2.substract")
print("3.multiply")
print("4.divide")
choice=int(input("enter choice"))
num1=int(input("enter first number"))
num2=int(input("enter second number"))
if choice==1:
  print(num1,"+",num2,"=",add(num1,num2))
elif choice==2:
  print(num1,"-",num2,"=",substract(num1,num2))
elif choice==3:
  print(num1,"*",num2,"=",multiply(num1,num2))
elif choice==4:
  print(num1,"/",num2,"=",divide(num1,num2))
else:
  print("invalid choice")

select operation
1.add
2.substract
3.multiply
4.divide
enter choice1
enter first number4
enter second number5
4 + 5 = 9

In [ ]:
## question 17
## find hypotenuse of a right angked triangle
def hypotenous(x,y):
  return (x**2+y**2)**0.5
x=int(input("enter first side"))
y=int(input("enter second side"))
print("hypotenous is",hypotenous(x,y))

enter first side4
enter second side5
hypotenous is 6.4031242374328485

In [ ]:
## question 18
## average of numbers fro 1 to n
def average(n):
  sum=0
  for i in range(1,n+1):
   sum+=i
  return sum/n

n=int(input("enter n"))
print("average is",average(n))

enter n6
average is 3.5

In [ ]:
## question 19
## biggest of 3 numbers
def biggest(a,b,c):
  if a>b and a>c:
    return a
  elif b>a and b>c:
    return b
  else:
    return c
x=int(input("enter first number"))
y=int(input("enter second number"))
z=int(input("enter third number"))
print("the biggets of 3 is", biggest(x,y,z))

enter first number4
enter second number5
enter third number7
the biggets of 3 is 7

In [ ]:
## question 20
## area of triangle
def area(b,h):
  return 0.5*b*h
b=int(input("enter base"))
h=int(input("enter height"))
print("area is",area(b,h))

enter base5
enter height6
area is 15.0

In [ ]:
## question 21
## cal x to the power of y where y can be pos or nagetiv
def power(x,y):
 return x**y
x=float(input("enter x"))
y=float(input("enter y"))
print("x to the power y is",power(x,y))

enter x3
enter y-1
x to the power y is 0.3333333333333333

In [ ]:
## question 22
## calculate compound intrest
def ci(p,r,t):
  return p*(1+r/100)**t
p=float(input("enter principal"))
r=float(input("enter rate"))
t=float(input("enter time"))

print("the ci is ",ci(p,r,t))

enter principal356
enter rate2
enter time4
the ci is  385.34584896

In [ ]:
## question 23
## zrea and volume  of a sphere
def area(r):
  return 4*3.14*r*r
def volume(r):
  return 4/3*3.14*r*r*r
r=float(input("enter radius"))
print("area is",area(r))
print("volume is",volume(r))

enter radius7
area is 615.44
volume is 1436.0266666666666

In [ ]:
## question 24
## reverse a string with using recursion
def reverse(s):
  if len(s)==0:
    return s
  else:
    return reverse(s[1:])+s[0]
s=input("enter string")
print("reverse is",reverse(s))

enter stringhara
reverse is arah

In [ ]:
## question 25
## reverse a string without using recursion
s="hara"
reverse= s[::-1]
print(reverse)

##
# s="hara"
# reverse=""
# for i in range(len(s)-1,-1,-1):
#   reverse+=s[i]
# print(reverse)

arah

In [ ]:
## question 26
## reverse a string with using recursion
def reverse(s):
  if len(s)==0:
    return s
  else:
    return reverse(s[1:])+s[0]
s=input("enter string")
print("reverse is",reverse(s))

enter stringhara
reverse is arah

In [ ]:
## question 27
## program to calc the exp of x and y with recursion
def exp(x,y):
  if y==0:
    return 1
  elif y>0:
    return x*exp(x,y-1)
  else:
    return 1/x*exp(x,y+1)
x=float(input("enter x"))
y=float(input("enter y"))
print("x to the power y is",exp(x,y))

enter x6
enter y2
x to the power y is 36.0

In [ ]:
## quesstion 28
## perogram to calculate the exponent of x and y without recursion
x=float(input("enter x"))
y=float(input("enter y"))
result=1
for i in range(int(abs(y))):
  result*=x
if y<0:
  result=1/result
print("x to the power y is",result)

In [ ]:
## question 29
## fibonacci series using recursion
def fibonacci(n):
  if n<=1:
   return n
  return fibonacci(n-1)+fibonacci(n-2)
term=int(input("enter the terms"))
for i in range(term):
  print(fibonacci(i),end='')

enter the terms9
01123581321

In [ ]:
## question 30
## fibonacci without recursion
term=int(input("enter the terms"))
a,b=0,1
for i in range (term):
  print(a,end=' ') # Added a space for better readability
  a,b=b,a+b

enter the terms8
0 1 1 2 3 5 8 13

In [ ]:
## quedstion 31
## temp in celsius to fahrenheit
def celsius_to_fahrenheit(celsius):
  fahrenheit=(celsius*9/5)+32
  return fahrenheit

  celsius=float(input("enter temperature in celsius"))
  fahrenheit=celsius_to_fahrenheit(celsius)
  print(f"{celsius} degrees celsius is equal to {fahrenheit} degrees fahrenheit")

In [ ]:
## question 32
## draw the pattern using function
def draw_pattern(width, height):
  """Draws a rectangular pattern with a border."""
  if width < 2 or height < 2:
    print("Width and height must be at least 2.")
    return

  # Top border
  print("*" * width)

  # Middle rows
  for _ in range(height - 2):
    print("!" + " " * (width - 2) + "!")

  # Bottom border
  print("*" * width)

# Example usage:
draw_pattern(10, 6)

**********
!        !
!        !
!        !
!        !
**********

In [ ]:
## question 32
## print binomial coefficients

In [ ]:
## question 33
## program to print the  status inptt("enter (s/m/d/u))")
def status(code):
  code=code.upper()
  if code=="s":
    return "single"
  elif code=="M":
    return "married"
  elif code=="D":
    return "divorced"
  elif code=="U":
    return "unmarried"
  else:
    return "invalid code"
code=input("enter code ")
print(status(code))

enter code u
unmarried

In [ ]:
## question 34
## true if anyone is  0 else false
def integer(a,b,c):
  if a==0 or b==0 or c==0:
    return True
  else:
    return False
a=int(input("enter first number"))
b=int(input("enter second number"))
c=int(input("enter third number"))
print(integer(a,b,c))

enter first number5
enter second number6
enter third number1
False

In [ ]:
## question 35
## true if sorted else false
def sorted(a,b,c):
  if a<=b<=c:
    return True
  else:
    return False
x=int(input("enter first number"))
y=int(input("enter second number"))
z=int(input("enter third number"))
sorted(x,y,z)

enter first number7
enter second number8
enter third number9

True

In [ ]:
## question 36
## function that accepts 2 positiver integers and if m<n return num 1 an d n that are divisible by n
def divisible(m,n):
  if m<n:
    m,n=n,m
  for i in range(n,m+1):
    if i%n==0:
      print(i)
x=int(input("enter first number"))
y=int(input("enter second number"))
divisible(x,y)

In [ ]:
##  question 37
## greet hello name
def greet():
  print("Hello",name)
name=input("enter ur name")
greet()

enter ur namehatradhdhh
Hello hatradhdhh